<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style1.css">
</head>
<body>
<section id="hire">
    <h1>Post a Product Listing</h1>

    <form>
        <div class="field name-box">
            <input type="text" id="name" placeholder="Who Are You?" />
            <label for="name">Product Name</label>
            <!--<span class="ss-icon">check</span>-->
        </div>

        <div class="field email-box">
            <input type="text" id="name" placeholder="Eg: -  Sports Apparel, Electronics, etc." />
            <label for="email">Product Category</label>
            <!--<span class="ss-icon">check</span>-->
        </div>

        <div class="field msg-box">
            <textarea id="msg" rows="4" placeholder="Your message goes here..." /></textarea>
            <label for="msg">Desc.</label>
            <!--<span class="ss-icon">check</span>-->
        </div>
        <br><br>
        <div class="field name-box">
            <input type="text" id="name" placeholder="Regular Retail Price (in Rs.)" />
            <label for="email">Regular Price (in Rs.)</label>
            <!--<span class="ss-icon">check</span>-->
        </div>
        <div class="field name-box">
            <input type="text" id="name" placeholder="Discount Offered (in Rs.)" />
            <label for="email">Discount Offered (If Any)</label>
            <!--<span class="ss-icon">check</span>-->
        </div>
        <br><br>
        <input class="button" type="submit" value="Send" />
    </form>
</section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="javascripts/company.js"></script>
</html>