
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fledge</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style2.css">
</head>
<body>

<div class="spacer-top"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="context facing profile">
                <nav class="context-navbar">
                    <span><i class="fa fa-bars top-left"></i><span class="top-right bold">LOGOUT</span></span>
                </nav>
                <br>
                <img class="display-picture horizontal-center" src="./sahil.jpg" alt="display picture">
                <p class="name text-center">SAHIL TRIVEDI</p>
                <p class="description text-center">Student</p>
                <div class="horizontal-center icons text-center">
                    <img class="icon" src="./facebook-logo.png" alt="">
                    <img class="icon" src="./twitter-logo.png" alt="">
                    <img class="icon" src="./dribble-logo.png" alt="">
                    <img class="icon" src="linkedin-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="context1 facing profile">
                <nav class="context-navbar1">
                    <span><i class="fa fa-bars top-left" style="visibility: hidden;"></i><span class="top-right bold"> </span></span>
                </nav>
                <br>
                <p class="description text-center">Nothing In The Cart</p>
                <div class="horizontal-center icons text-center">
                </div>
            </div>
        </div>
    </div>
    <div class="product">

        <img style="width:100%" src="ad.png" alt="" />

        <h2><span>A Movie in the Park:<span class='spacer'></span><br /><span class='spacer'></span>Kung Fu Panda</span></h2>

    </div>
</div>


<!--Javascript-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>